.App .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2em;
  justify-items: center;
}

.ui.card {
  margin: 0;
}
.page-wrapper {
  min-height: calc(100vh - 1.5em - 22px);
}
.main-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-column-gap: 20px;
}

footer {
  text-align: center;
  border-top: 2px solid #efefef;
  padding: 10px 0;
  background: #f5f6f5;
  color: #777;
  line-height: 1.5em;
}
