.App .main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2em;
  justify-items: center;
}

.ui.card {
  margin: 0;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.content-wrapper {
  display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd main main main main main main main main";
    grid-gap: 50px 100px;
}

.header {
  grid-area: hd;
}
.main-content {
  grid-area: main;
}
.sidebar {
  grid-area: sd;
}

.footer {
  text-align: center;
  border-top: 2px solid #efefef;
  padding: 10px 0;
  background: #f5f6f5;
  color: #777; 
}
